[package]
name = "protomon-derive"
version = "0.1.0"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
darling = "0.20"
proc-macro2 = "1"
quote = "1"
syn = { version = "2", features = ["derive", "parsing"] }

[dev-dependencies]
insta = "1"
prettyplease = "0.2"
